/target
**/target
/data/certs/*
/data/secrets/*
/data/*.sock
/data/clickhouse/
/data/acme-challenges/
/data/cert-requests/
/data/database-routes/
/data/letsencrypt/
/data/letsencrypt-logs/
/data/routes/
/data/security/
/data/stats/
/data/grafana/
/data/loki/
/data/postgres/
/data/prometheus/
/data/redis/
!/data/certs/.gitkeep
!/data/secrets/.gitkeep
.env
.env*
*.env
*.prod
.DS_Store
docker-compose.yml.before-*
oom
config/geoip/*.mmdb
*.swp
*.swo
.ai-context/
